.selection-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

.selection-list h3 {
  flex-basis: 100%;
}

.selection-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

#winget-command {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#winget-command span {
  flex-grow: 1;
}

footer {
  background-color: var(--pico-primary-background);
}

footer p {
  color: var(--pico-primary-inverse);
  text-align: center;
}

footer p a {
  color: var(--pico-primary-inverse);
  text-decoration-color: var(--pico-primary-inverse);
}
